################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.strings/
/Debug/
/Release/
/sstool/Debug/
/sstool/Release/
/sstool/x64/
/x64/
